package package1;

import javax.swing.*;


public class frame extends JFrame {

    private JButton schliessen;
    private JButton einstellungen;
    private JButton info;
    private JButton ende;

    public static void main(String[] args ){

        frame frame = new frame ("Menü"); // war rot unterstrichen weil ein neues objekt erzeugt wird
        frame.setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);

        frame.setSize(400,400);
        frame.setLayout(null);



    }

    public frame(String title){
        super(title);

        schliessen = new JButton("Spiel starten");
        schliessen.setBounds(120,40,160,40);
        add(schliessen);


    }

}
